{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-dark">
          <div class="inner">
            <h3>{{total_students}}</h3>
            <p>Total Students</p>
          </div>
          <div class="icon">
            <i class="nav-icon fas fa-user-graduate text-white"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-dark">
          <div class="inner">
            <h3>{{total_attendance}}</h3>
            <p>Total Attendance Taken</p>
          </div>
          <div class="icon">
            <i class="nav-icon fas fa-calendar-alt  text-white"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-dark">
          <div class="inner">
            <h3>{{total_subject}}</h3>
            <p>Total Subjects</p>
          </div>
          <div class="icon">
            <i class="nav-icon fas fa-book  text-white"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
{% block custom_js %}

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-messaging.js"></script>


<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyBarDWWHTfTMSrtc5Lj3Cdw5dEvjAkFwtM",
    authDomain: "sms-with-django.firebaseapp.com",
    databaseURL: "https://sms-with-django.firebaseio.com",
    projectId: "sms-with-django",
    storageBucket: "sms-with-django.appspot.com",
    messagingSenderId: "945324593139",
    appId: "1:945324593139:web:03fa99a8854bbd38420c86",
    measurementId: "G-2F2RXTL9GT"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig)
  const messaging = firebase.messaging();
  function InitializeFireBaseMessaging() {
    messaging
      .requestPermission()
      .then(function () {
        console.log("Notification Permission");
        return messaging.getToken();
      })
      .then(function (token) {
        console.log("Token : " + token);
        sendToServer(token);
      })
      .catch(function (reason) {
        console.log(reason)
      })
  }
  messaging.onMessage(function (payload) {
    const notificationOption = {
      body: payload.notification.body,
      icon: payload.notification.icon,

    }
    if (Notification.permission == 'granted') {
      var notification = new Notification(payload.notification.title, notificationOption);
      notification.onclick = function (event) {
        event.preventDefault();
        window.open(payload.notification.click_action, "_blank");
        notification.close();
      }
    }
    console.log(payload);
  });
  messaging.onTokenRefresh(function () {
    messaging.getToken()
      .then(function (newToken) {
        console.log("New Token : " + newToken);
        sendToServer(newToken);

      })
      .catch(function (reason) {
        console.log(reason)
      })
  })

  function sendToServer(token) {
    $.ajax({
      url: "{% url 'staff_fcmtoken' %}",
      type: 'POST',
      data: {
        token: token,
      }
    }).done(function (response) {


    }).fail(function (response) {
    })

  }

  InitializeFireBaseMessaging();
</script>
{% endblock custom_js %}