{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="form-group">
                            <label>Course</label>
                            <select name="subject" class="form-control" id='subject'>
                                <option value="">----</option>
                                {% for subject in subjects %}
                                <option value="{{subject.id}}">{{subject.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="button" id='fetch_student' class="btn btn-success btn-block">Fetch
                            Students</button>
                        <div class="form-group" id="student_data">
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block custom_js %}
<script>
    $(document).ready(function () {


        $("#fetch_student").click(function () {
            var subject = $("#subject").val()
            $("#student_data").html(null)
            if (subject.length == 0) {
                alert("Please select session and subject");
                return false;
            }
            $.ajax({
                url: "{% url 'get_students' %}",
                type: 'POST',
                data: {
                    subject: subject,
                }
            }).done(function (response) {
                var json_data = JSON.parse(response)
                if (json_data.length < 1) {
                    alert("No data to display")
                } else {
                    var div_data = "<div class='form-group'><div class='form-group'><label>Attendance Date</label><input type='date' class='form-control' name='attendance_date' id='attendance_date' ><div class='form-group'><div class='row'><div class='col-md-8 mx-auto'><table class='table'><thead><tr><th></th><th>ID Number</th><th>Name</th></tr></thead><tbody>";
                    for (key in json_data) {
                        div_data += "<tr><td><div class='form-check'><input type='checkbox' class='form-check-input' " + (json_data[key]['status'] ? "checked='checked'" : "") + " name='student_data[]' value=" + json_data[key]['id'] + " id='checkbox" + json_data[key]['id'] + "' /><label class='form-check-label' for='checkbox" + json_data[key]['id2'] + "'></label></div></td><td>" + json_data[key]['id2'] + "</td><td>" + json_data[key]['name'] + "</td><td>" + (json_data[key]['status'] ? "Present" : "Absent") + "</td></tr>";
                    }
                    div_data += "</tbody></table></div></div>";
                    div_data += "</div></div>"
                    div_data += "<div class='form-group text-center'><button id='save_attendance' class='btn btn-success' type='button'>Save Attendance</button></div>"
                    $("#student_data").html(div_data)

                }
            }).fail(function (response) {
                alert("Error in fetching students")
            })


            $(document).on('click', '#save_attendance', function () {
                $(this).attr("disabled", "disabled")
                $(this).text("Saving Attendance Data...")
                var student_data = $("input[name='student_data[]']").map(function () {
                    if ($(this).is(":checked")) {
                        return { 'id': $(this).val(), 'status': 1 };

                    }
                    return { 'id': $(this).val(), 'status': 0 };

                }).get()
                var attendance_date = $('#attendance_date').val()
                if (attendance_date.length < 10) {
                    alert("Select date")
                    return false;
                }
                student_data = JSON.stringify(student_data)
                $.ajax({
                    url: "{% url 'save_attendance' %}",
                    type: 'POST',
                    data: {
                        date: attendance_date,
                        student_ids: student_data,
                        subject: subject,

                    }
                }).done(function (response) {
                    if (response == 'OK') {
                        alert("Saved")
                    } else {
                        alert("Error. Please try again")
                    }
                    location.reload()

                }).fail(function (response) {
                    alert("Error in saving attendance")
                })

            });


        });
    });
</script>
{% endblock %}